body .ravenqueen {
  color: gold !important;
  font-style: italic !important;
}
body .ravenqueen-speech {
  color: darkorchid !important;
  font-weight: bold !important;
}
body .memory {
  color: red !important;
  font-style: italic !important;
}
