body {
    /* Raven Queen styling */
    .ravenqueen {
        color: gold;
        font-style: italic;
    }

    .ravenqueen-speech {
        color: darkorchid;
        font-weight: bold;
    }

    .memory {
        color: red;
        font-style: italic;
    }
}

